header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        to bottom, 
        rgba(196, 218, 179, 0.6),
        var(--main-color),
        var(--main-color),
        rgba(196, 218, 179, 0.6)

    );
}

.introducing {
    padding-top: 150px;
}

.introducing, .devweb {
    font-family: var(--title-font);
    color: var(--text-color);
    font-size: 4.5rem;
    margin-bottom: 10px;
}

.devweb {
    color: var(--green-color);
    font-style: italic;
    margin-bottom: 25px;
}

.introducing-sentence {
    text-align: center;
    line-height: 1.8rem;
    font-family: var(--text-font);
    color: var(--brown-color);
    max-width: 43ch;
    font-size: 20px;
    margin-bottom: 25px;
}

.project-contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.project-button {
    background-color: var(--green-color);
    font-family: var(--text-font);
    color: var(--main-color);
    border-radius: 50px;
    text-decoration: none;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.contact-me {
    font-family: var(--text-font);
    color: var(--green-color);
    border-radius: 50px;
    border: 2px solid var(--green-color);
    text-decoration: none;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: var(--text-font);
    color: var(--brown-color);
    padding-top: 60px;
    text-decoration: none;
    font-size: 14px;
}

.arrow {
    font-size: 20px;
    font-weight: 800;
    display: inline-block;
    animation: arrow-bounce 1.5s infinite ease-in-out;
}

@keyframes arrow-bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0);
    }
}

.separation {
    background: linear-gradient(to right, rgba(36, 107, 65, 0.6), rgba(221, 136, 150, 0.2), rgba(221, 136, 150, 0.2), rgba(36, 107, 65, 0.6));
    height: 8px; 
}

.about {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: rgba(196, 218, 179, 0.6);
}

.cat-title {
    font-family: var(--title-font);
    color: var(--text-color);
    text-align: center;
    padding-top: 100px;
    font-size: 2.3rem;
}

.cat-title::after {
    content: "";
    display: block;
    max-width: 130px;
    height: 2px;
    background-color: rgba(36, 107, 65, 0.6);
    margin: 10px auto 0;
    border-radius: 50px;
    margin-bottom: 50px;
}

.profile {
    height: 50vh;
    border: solid, 25px, var(--main-color);
    border-radius: 40px;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-text {
    background-color: var(--main-color);
    max-width: 40ch;
    font-family: var(--text-font);
    color: var(--brown-color);
    padding: 20px;
    border-radius: 20px;
}

.hello {
    font-family: var(--title-font);
    color: var(--green-color);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 10px;
    line-height: 1.5rem;;
}

.green-text {
    color: var(--green-color);
    font-weight: 600;
}

.about-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toulouse-disponible {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    font-family: var(--text-font);
    color: var(--brown-color);
    font-size: 0.9rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    padding: 20px;
    gap: 10px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.skills-section {
    height: 100vh;
}

.skills {
    display: flex;
    justify-content: center;
    gap : 40px;
    height: 70vh;
}

.skills-article{
    border: solid 1px var(--secondary-color);
    width: 30vw;
    border-radius: 20px;
}

.skills-title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-family: var(--title-font);
    font-size: 1.5rem;
    color: var(--green-color);
}

.skills-position {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    gap: 10px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-family: var(--text-font);
    font-size: 1rem;
    color: var(--text-color);
    border: solid 1px var(--secondary-color);
    border-radius: 20px;
    background-color: rgba(196, 218, 179, 0.6);
}

.icon {
    padding-right: 30px;
    height: 4vh;
}

.skill-name {
    width: 100%;
    text-align: center;
}

.soft-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 50%;
    gap : 10px;
    font-family: var(--title-font);
    color: var(--text-color);
    font-size: 1.1rem;
    background-color: rgba(196, 218, 179, 0.6);
    border: solid 1px var(--secondary-color);
    border-radius: 15px;
}

.skill-label {
    color: var(--brown-color);
    font-family: var(--text-font);
    font-size: 0.8rem
}

.quote-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.quote {
    font-family: var(--text-font);
    color: var(--brown-color);
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.2rem;
    text-align: center;
    background-color: rgba(221, 136, 150, 0.2);
    border : solid 1px var(--pink-color);
    border-radius: 10px;
    max-width: 45ch;
    padding: 20px;
}